.nav {
  position: fixed;
  top: 0;
  display: flex;
  padding-top: 20px;
  width: 100%;
  justify-content: space-between;

  height: 70px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_logo {
  /* width: 80px; */
  position: fixed;
  left: 20px;
  height: 50px;
  object-fit: contain;
}

.nav_avatar {
  /* right: 0; */
  position: fixed;
  right: 20px;
  height: 50px;
  object-fit: contain;
}

.nav_black {
  background-color: #111;
}
